<div>
    {% url 'public:home' as home_url %}
    <span>{% if request.path == home_url %}Home{% else %}<a href="{{ home_url }}">Home</a>{% endif %}</span>
    {% url 'public:about' as about_url %}
    <span>{% if request.path == about_url %}About{% else %}<a href="{{ about_url }}">About</a>{% endif %}</span>
    {% url 'public:contact' as contact_url %}
    <span>{% if request.path == contact_url %}Contact{% else %}<a href="{{ contact_url }}">Contact</a>{% endif %}</span>
    <span style="float:right">
        {% if user.is_authenticated %}
            {% url 'accounts:profile' as profile_url %}
                <span>Hello {% if request.path == profile_url %}{{ user.username}}{% else %}<a href="{{ profile_url }}">{{user.username}}</a>{% endif %}</span>
                {% url 'accounts:login' as login_url %}
                <span><a href="{{ login_url}}">Logout</a></span>
        {% else %}
            {% url 'accounts:logout' as logout_url %}
            <span><a href="{{ logout_url}}">Login</a></span>
        {% endif %}
    </span>
</div>